<footer>
    <span class="copyright">Copyright &copy;</span>
    <span id="year"></span>
    -
    <span class="author">Nick Farr</span>

</footer>

<script>
    document
        .getElementById("year")
        .innerHTML = new Date().getFullYear();
</script>