<div class="stack">

    <p>Nick Farr (<a href="mailto:nick@nickfarr.org">nick@nickfarr.org</a>, N0FAR, he/him) has spent nearly 20 years preparing for and responding to various different disasters. Most recently, he was the Volunteer Coordinator at the Alvaro Obregon 286 building collapse site during the 2017 Mexico City Earthquake. He had the guidance of many in preparing these words and encourages you to reach out with your own thoughts over e-mail, HF or the
        <a href="https://join.slack.com/t/bwbworldwide/shared_invite/zt-b3ld2pw3-iUffF~AwexfY9EmrB4LaCQ">BWB Worldwide Slack</a>.</p>

    <ul title="Stay Connected with Burners Without Borders:">
        <li>
            <a href="https://www.burnerswithoutborders.org/">Website</a>
        </li>
        <li>
            <a href="https://www.facebook.com/BurnersWithoutBorders/?eid=ARBRwNGB8jLjdmdLHSMaXGIc77E1v42HmYPAI6HngPfUDof_QVbRYW8oMYz8p-wF4DuPOHkpFA5lOFEb">Facebook</a>
        </li>
        <li>
            <a href="https://www.facebook.com/groups/volunteersBWB/">Volunteers Worldwide FB Group</a>
        </li>
        <li>
            <a href="https://join.slack.com/t/bwbworldwide/shared_invite/zt-b3ld2pw3-iUffF~AwexfY9EmrB4LaCQ">BWB Slack Channel</a>
        </li>
    </ul>

    <ul title="Meetings:">
        <li>
            <a href="https://www.facebook.com/events/547649349481002/">The Feast's Daily International Coffee Hang</a>
        </li>
        <li>
            <a href="https://www.facebook.com/events/241420223649691/">Community Roundup: BWB & Burners respond to covid-19</a>
        </li>
    </ul>

</div>